.app-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;

    display: flex;
}

.app-card-content {
}
.app-card-head {
    display: flex;
}
.app-card-info {
    padding: 5px;
}
.app-card-image {
}

.app-card-text {
    padding: 5px;
}

.app-card-action {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.app-card-fav {
}
.app-card-share {
}