.app-card {
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
}

.app-card-head {
    display: flex;
    justify-content: space-between;
}
.app-card-info {
    padding: 5px;
}
.app-card-image {
    width: 50%;
}

.app-card-image > img {
    width: 100%;
}

.app-card-text {
    padding: 5px;
}

app-card-action {
    display: flex;
}